 #upperSection {
clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
section {
    padding-top: 80px;
}
@layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
    .flip-card-inner {
      transform-style: preserve-3d;
    }
    .flip-card-inner:hover {
      transform: rotateY(180deg);
    }
    .backface-hidden {
      backface-visibility: hidden;
    }
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }
  #card-text {
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Voeg deze klassen toe aan de linker- en rechterkanten */
  .animate-left-to-right {
    animation: slideInLeft 2.0s forwards;
  }
  
  .animate-right-to-left {
    animation: slideInRight 2.0s forwards;
  }
  .merch-item {
    display: none;
  }
  