body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Siara Condensed', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

nav .start a {
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
}

nav .center ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    flex-direction: row;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    height: 5px;
    width: 100%;
    background-color: orange;
    transform-origin: bottom;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.nav-item.active::after {
    transform: scaleX(1);
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-item a:focus {
    outline: none;
    color: orange;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-item a:focus {
    outline: none;
}

.nav-item a:focus::after,
.nav-item a:hover::after {
    width: 100%;
}

.nav-item.active a::after {
    width: 100%;
}

a :nth-child(1){
    width: 200px;
}

.signup-btn {
    display: inline-block;
    padding: 12px 16px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    margin-right: 40px;
    font-weight: 600;
}

.signup-btn:hover {
    background-color: #feda95;
    color: black;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}

#home{
    overflow: hidden;
    position: relative;
    background-color: black;
    height: 500px;
}
.signUp-container{ 
    inline-size: auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 200px 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
    height: 850px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    padding: 13px 10px 13px 20px;
    margin: 0px 0 20px;
    border-radius: 7px;
}
#inputfields{
    display: flex;
    flex-direction: column;
    margin: 50px 100px 0 100px;
}